/* Development grid. Press and hold "G" to see it. "H" to keep it visible
--------------------------------------------------------------------------- */

#grid {
    position: absolute;
    top:     0;
    right:   0;
    bottom:  0;
    left:    0;
    z-index: 9999 !important;
}

/* Vertical grid, change width for how many columns we need */
#grid div.vert {
    margin: 0;
}

/* Table fo Contents */
#grid div.vert:nth-child(1) {
    width: 250px;
    background: rgba(255,0,0,0.1);
}

/* Content Pane */
#grid div.vert:nth-child(2) {
    left: 250px;
    right:  0;
    position: absolute;
    background: rgba(0,255,0,0.1);
}

/* Horizontal grid, height should be line-height minus 1px for the border */
#grid div.horiz {
    height: 17px;
    border-bottom: 1px dotted rgba(255,0,0,0.5);
    margin:  0;
    padding: 0;
}

/* Horizontal grid offset from the top */
#grid div#grid-horiz {
/*    margin-top: 2px;*/
}
