/* Basic Structural CSS
============================================================================ */

body {
    font-family: 'Helvetica';
    background: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 0;
    margin: 0;
}


code {
    font-family: Monospace;
}



/* Bootstrap Overrides
---------------------------------------------------------------------------- */

#sidebar ul { list-style: none; }
a { color: #369; }
a:hover { text-decoration: none; }
p { margin-bottom: 21px; }



/* Default Navigation Sidebar
---------------------------------------------------------------------------- */

#sidebar {
    font-size: 13px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #f1f1f5;
    border-right: 1px solid #cdcdd0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#sidebar ul          { text-indent: 10px; margin: 0; padding: 0; }
#sidebar ul ul       { text-indent: 22px; }
#sidebar ul ul ul    { text-indent: 34px; }
#sidebar ul ul ul ul { text-indent: 46px; }


.nav {
    margin: 0;
    padding: 0;
}

.nav > li > a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.nav > li > a:hover {
    background: #e5e5e9;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
    background: #369;
    color: #fff;
}

.nav .nav-header {
    text-transform: none;
    font-size: 13px;
}

.nav-list > .active > a.nav-header,
.nav-list > .active > a.nav-header:hover {
    background: none;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list .divider {
    margin-left: 0;
    margin-right: 0;
}


/* Search Results 
---------------------------------------------------------------------------- */

.search-results li {
    text-indent: 22px;
}

.search-results p {
    line-height: 14px;
    margin: 4px 0 0 0;
}

.search-results small {
    line-height: 14px;
    font-size: 11px;
    text-indent: 0; /* FIXME Firefox */
    width: 277px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.search-results ul a {
    height: 42px;
}
    




/* Content
---------------------------------------------------------------------------- */

#content {
    position: absolute;
    top: 0;
    left: 301px;
    right: 0;
    max-width: 1024px;
    padding: 21px 36px 42px 36px;
}

.subhead {
    margin-bottom: 42px;
}

.subhead h1 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 9px;
    text-indent: -2px;
    letter-spacing: -1px;
    border: none;
}

.subhead p {
    margin-bottom: 21px;
    font-size: 16px;
    font-weight: 300;
}



/* Styles
---------------------------------------------------------------------------- */

h1 {
    font-size: 24px;
    line-height: 34px;
    border-bottom: 1px solid #eee;
    margin-bottom: 21px;
}

h2 {
    font-size: 21px;
    line-height: 34px;
    border-bottom: 1px solid #eee;
    margin-bottom: 21px;
}

h3 {
    font-size: 18px;
    line-height: 34px;
    border-bottom: 1px solid #eee;
    margin-bottom: 21px;
}

dd {
    margin: 0;
}


/* Misc Util Classes
---------------------------------------------------------------------------- */

.section-filter {
    padding: 18px 0 0 18px;
    height: 32px;
}

.section-filter > input {
    margin: 0;
    width: 238px;
    display: block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
}



/* Toggle Nav Buttons (unused)
---------------------------------------------------------------------------- */

a.toggle {
    font-size: 9px;
    padding: 0;
    text-align: right;
    text-indent: 0;
    color: #999;
    position: absolute;
    height: 24px;
    line-height: 27px;
}

a.toggle:hover {
    background: none;
    color: #222;
}

#sidebar ul ul a.toggle    { width: 19px; }
#sidebar ul ul ul a.toggle { width: 32px; }



/* Bootstrap bugfixes
============================================================================ */


.accordion-group {
    border: none;
    padding: 0;
    margin: 0;
}
