/* Basic Structural CSS
============================================================================ */

body {
    font-family: 'Helvetica';
    background: #fff;
    font-size: 14px;
    line-height: 1.5;
}

/* Bootstrap Overrides
---------------------------------------------------------------------------- */

#index { margin: 0; }


a{ color: #369; }
a:hover { text-decoration: none; }
p { margin-bottom: 18px; }


/* Default Navigation Sidebar
---------------------------------------------------------------------------- */

#sidebar {
    font-size: 13px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #f1f1f5;
    border-right: 1px solid rgba(0,0,0,0.148438);
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar a {
    display: block;
    width: 285px;
    padding: 0 15px 0 0;
    text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
    line-height: 27px; /* 1.25 - ish */
}


#sidebar a:hover { background: rgba(0,0,0,0.05); color: #005580; }


/* Sidebar list indentation
---------------------------------------------------------------------------- */

ul { list-style: none; margin: 0; padding: 0; }
ul ul { text-indent: 23px; margin: 0; }
ul ul ul { text-indent: 36px; margin: 0;  }
ul ul ul ul { text-indent: 49px; margin: 0;   }

#sidebar a.toggle {
    font-size: 9px;
    padding: 0;
    text-align: right;
    text-indent: 0;
    color: #999;
    position: absolute;
    height: 27px;
    line-height: 28px; /* Better Vertical Alignment */
}

#sidebar ul ul a.toggle { width: 19px; }
#sidebar ul ul ul a.toggle { width: 32px; }

#sidebar a.toggle:hover {
    background: none;
    color: #222;
}


#sidebar a.filename {
    font-weight: bold;
    color: #999;
    text-shadow: 1px 1px 0px #fff;
    margin: 7px 0 0 0;
    text-indent: 10px;
/*    border-top: 1px solid rgba(0,0,0,0.1);*/
/*    border-top: 1px solid rgba(255,255,255,0.4);*/
}

#index > li:first-child a {
    border-top: 0;
}


#sidebar a.filename:hover {
/*    color: rgba(255,255,255,1);*/
    background: rgba(0,0,0,0.1);
    color: #777;
    text-shadow: 1px 1px 0px #eee;
}



/* Sidebar Header
---------------------------------------------------------------------------- */

#sidebar h1 { font-size: 21px; text-align: center;  }
h1 a { line-height: 40px !important; color: #666; }




/* Content
---------------------------------------------------------------------------- */

#content .subhead {
    margin-bottom: 42px;
}

#content .subhead h1 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 9px;
    text-indent: -2px;
/*    letter-spacing: -1px;*/
    border: none;
}

#content .subhead p {
/*    line-height: 18px;*/
    margin-bottom: 21px;
    font-size: 16px;
    font-weight: 300;
}


#banner {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 300px;
/*    height: 40px;*/
/*    line-height: 40px;*/
/*    border-bottom: 1px solid rgba(0,0,0,0.148438);*/
/*    background: #666;*/
/*    z-index: 99;*/
    
}

#banner h1 {
/*    color: #f5f5f5;*/
    font-size: 21px;
    text-indent: 36px;
    height: 41px;
    line-height: 41px;
}


#content {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
/*    width: 720px;*/
    padding: 27px 36px;
}



/* Styles
---------------------------------------------------------------------------- */

#content h1 {
    font-size: 24px;
    line-height: 36px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
}

#content h2 {
    font-size: 21px;
    line-height: 36px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
}

#content h3 {
    font-size: 18px;
    line-height: 36px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
}



/* Misc Util Classes
---------------------------------------------------------------------------- */

.section-filter {
    margin: 20px 10px 10px 15px;
    width: 238px;
}

/* Bootstrap bugfixes
============================================================================ */

/* Issue #3826 */
.search-query {
    padding-left: 12px !important;
    padding-right: 12px !important;
    border-radius: 14px !important;
}


