/* Basic Structural CSS
============================================================================ */

body {
    background: #fcfcfc;
}

/* Bootstrap Overrides
---------------------------------------------------------------------------- */

#index { margin: 0; }



a:hover { text-decoration: none; color: #369; }
p { margin-bottom: 18px; }


/* Default Navigation Sidebar
---------------------------------------------------------------------------- */

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #ddd url('/img/linen-md.png');

    border-right: 1px solid rgba(0,0,0,0.20);

    overflow-x: hidden;
    overflow-y: auto;

    -webkit-box-shadow: rgba(0,0,0,0.10) -1px 0 3px 0 inset;
       -moz-box-shadow: rgba(0,0,0,0.10) -1px 0 3px 0 inset;
            box-shadow: rgba(0,0,0,0.10) -1px 0 3px 0 inset;
}

#sidebar a {
    display: block;
    width: 285px;
    padding: 0 15px 0 0;
    text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
    color: #444;
    font-weight: bold;
    line-height: 27px; /* 1.5 */
}


#sidebar a:hover { background: rgba(0,0,0,0.10); }


/* Sidebar list indentation
---------------------------------------------------------------------------- */

ul { list-style: none; text-indent: 18px; margin: 0; padding: 0; }
ul ul { text-indent: 30px; margin: 0; }
ul ul ul { text-indent: 42px; margin: 0;  }
ul ul ul ul { text-indent: 54px; margin: 0;   }

#sidebar a.toggle {
    font-size: 9px;
    padding: 0 4px 0 0;
    text-align: right;
    text-indent: 0;
    color: #777;
    position: absolute;
}

#sidebar ul a.toggle { width: 14px; }

#sidebar ul ul a.toggle { width: 26px; }

#sidebar a.toggle:hover {
    background: none;
    color: #444;
}


#sidebar i {
    font-style: normal;
    vertical-align: top;
    font-size: 9px;
    width: 12px;
    height: 27px;
    margin: 0 0 0 -12px;
    display: inline-block;
    text-indent: 0;
    color: #777;
}


/* Sidebar header2's
---------------------------------------------------------------------------- */


#index {
/*    border-bottom: 1px solid #ccc;*/
}

#index > li {
/*    background: rgba(0,0,0,0.1);*/
/*    border-bottom: 1px solid rgba(0,0,0,0.05);*/
/*    border-top: 1px solid rgba(255,255,255,0.50);*/
}



/* Sidebar Header
---------------------------------------------------------------------------- */

#sidebar h1 { font-size: 21px; text-align: center;  }
h1 a { line-height: 40px !important; color: #666; }




/* Content
---------------------------------------------------------------------------- */

#content {
    position: absolute;
    top: 0;
    right: 0;
    padding: 27px 36px;
    left: 300px;
}









/* Misc Util Classes
---------------------------------------------------------------------------- */


/* Bootstrap bugfixes
============================================================================ */

/* Issue #3826 */
.search-query {
    padding-left: 12px !important;
    padding-right: 12px !important;
    border-radius: 14px !important;
}


