/* Basic Structural CSS
============================================================================ */

body {
    background: #eee url('/img/linen-lt.png');
}

/* Bootstrap Overrides
---------------------------------------------------------------------------- */

#sections { margin: 0; }





a:hover { text-decoration: none; color: #369; }
p { margin-bottom: 18px; }


/* Default Navigation Sidebar
---------------------------------------------------------------------------- */

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background: #ddd url('/img/linen-md.png');

    border-right: 1px solid rgba(0,0,0,0.20);

    overflow-x: hidden;
    overflow-y: auto;

    -webkit-box-shadow: rgba(0,0,0,0.10) -1px 0 3px 0 inset;
       -moz-box-shadow: rgba(0,0,0,0.10) -1px 0 3px 0 inset;
            box-shadow: rgba(0,0,0,0.10) -1px 0 3px 0 inset;
}

#sidebar a {
    display: block;
    width: 235px;
    padding: 0 15px 0 0;
    text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
    color: #444;
    font-weight: bold;
    line-height: 27px; /* 1.5 */
}

#sidebar a.toggle {
    position: absolute;
    float: left;
    text-indent: 0;
    padding: 0;
    top: 4px;
    left: 15px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
/*    outline: 1px solid red;*/
    color: #444;
}


#sidebar a:hover {
    background: rgba(0,0,0,0.10);
}

#sidebar a.toggle:hover {
    color: #c66;
    background: transparent;
}


/* Sidebar list indentation
---------------------------------------------------------------------------- */

ul { list-style: none; text-indent: 15px; margin: 0; padding: 0; }
ul ul { text-indent: 30px; margin: 0; }
ul ul ul { text-indent: 45px; margin: 0; }


/* Sidebar header2's
---------------------------------------------------------------------------- */


#sections {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

#sections > li {
    background: rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.50);
}

#sections li {
    position: relative;
}



/* Sidebar Header
---------------------------------------------------------------------------- */

h1 { font-size: 21px; text-align: center;  }
h1 a { line-height: 40px !important; color: #666; }




/* Content
---------------------------------------------------------------------------- */

#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 18px;
    left: 250px;
}









/* Misc Util Classes
---------------------------------------------------------------------------- */
.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid blue; 
}



/* Bootstrap bugfixes
============================================================================ */

/* Issue #3826 */
.search-query {
    padding-left: 12px !important;
    padding-right: 12px !important;
    border-radius: 14px !important;
}


