/* Basic Structural CSS
============================================================================ */

body {
    font-family: 'Helvetica';
    background: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 0;
    margin: 0;
}

/* Bootstrap Overrides
---------------------------------------------------------------------------- */

#index { margin: 0; }


a{ color: #369; }
a:hover { text-decoration: none; }
p { margin-bottom: 21px; }


/* Default Navigation Sidebar
---------------------------------------------------------------------------- */

#sidebar {
    font-size: 13px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #f1f1f5;
    border-right: 1px solid #cdcdd0;
    overflow-x: hidden;
    overflow-y: auto;
}


#sidebar a {
    display: block;
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 24px;
    margin: 0;
    padding: 0;
}



/* Sidebar list indentation
---------------------------------------------------------------------------- */

ul { list-style: none; margin: 0; padding: 0; text-indent: 10px; }
ul ul { text-indent: 23px; margin: 0; }
ul ul ul { text-indent: 36px; margin: 0;  }
ul ul ul ul { text-indent: 49px; margin: 0;   }


.nav .nav-header {
    text-transform: none;
    font-size: 13px;
}

.nav {
    margin: 0;
    padding: 0;
}

#sidebar a:hover {
    background: #e5e5e9;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
    background: #369 !important; /* FIXME */
    color: #fff;
}


.nav-list > .active > a.nav-header,
.nav-list > .active > a.nav-header:hover {
    background: transparent !important;  /* FIXME */
    color: #999;
    text-shadow: 0px 1px 0px #f6f6f6;    
}


#sidebar a.toggle {
    font-size: 9px;
    padding: 0;
    text-align: right;
    text-indent: 0;
    color: #999;
    position: absolute;
    height: 24px;
    line-height: 27px;
}

#sidebar ul ul a.toggle { width: 19px; }
#sidebar ul ul ul a.toggle { width: 32px; }

#sidebar a.toggle:hover {
    background: none;
    color: #222;
}


/* Sidebar Header
---------------------------------------------------------------------------- */

#sidebar h1 { font-size: 21px; text-align: center;  }
h1 a { line-height: 40px !important; color: #666; }




/* Content
---------------------------------------------------------------------------- */

#content .subhead {
    margin-bottom: 42px;
}

#content .subhead h1 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 9px;
    text-indent: -2px;
    letter-spacing: -1px;
    border: none;
}

#content .subhead p {
    margin-bottom: 21px;
    font-size: 16px;
    font-weight: 300;
}


#content {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
/*    max-width: 1024px;*/
    padding: 27px 36px;
}

code {
    font-family: Monospace;
}


/* Styles
---------------------------------------------------------------------------- */

#content h1 {
    font-size: 24px;
    line-height: 34px;
    border-bottom: 1px solid #eee;
    margin-bottom: 21px;
}

#content h2 {
    font-size: 21px;
    line-height: 34px;
    border-bottom: 1px solid #eee;
    margin-bottom: 21px;
}

#content h3 {
    font-size: 18px;
    line-height: 34px;
    border-bottom: 1px solid #eee;
    margin-bottom: 21px;
}

#content dd {
    margin: 0;
}


/* Misc Util Classes
---------------------------------------------------------------------------- */

.section-filter {
    margin: 20px 10px 10px 15px;
    width: 238px;
}

/* Bootstrap bugfixes
============================================================================ */

/* Issue #3826 */
.search-query {
    padding-left: 12px !important;
    padding-right: 12px !important;
    border-radius: 14px !important;
}


