/* Basic Structural CSS
============================================================================ */

body {
    font-family: 'Helvetica';
    background: #fcfcfc;
}

/* Bootstrap Overrides
---------------------------------------------------------------------------- */

#index { margin: 0; }


a{ color: #369; }
a:hover { text-decoration: none; }
p { margin-bottom: 18px; }


/* Default Navigation Sidebar
---------------------------------------------------------------------------- */

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #f5f5f5;
    border-right: 1px solid rgba(0,0,0,0.148438);
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar a {
    display: block;
    width: 285px;
    padding: 0 15px 0 0;
    text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
    line-height: 27px; /* 1.5 */
}


#sidebar a:hover { background: rgba(0,0,0,0.05); color: #005580; }


/* Sidebar list indentation
---------------------------------------------------------------------------- */

ul { list-style: none; margin: 0; padding: 0; }
ul ul { text-indent: 23px; margin: 0; }
ul ul ul { text-indent: 36px; margin: 0;  }
ul ul ul ul { text-indent: 49px; margin: 0;   }

#sidebar a.toggle {
    font-size: 9px;
    padding: 0;
    text-align: right;
    text-indent: 0;
    color: #999;
    position: absolute;
    height: 27px;
    line-height: 28px; /* Better Vertical Alignment */
}

#sidebar ul ul a.toggle { width: 19px; }
#sidebar ul ul ul a.toggle { width: 32px; }

#sidebar a.toggle:hover {
    background: none;
    color: #222;
}


#sidebar a.filename {
    color: rgba(254,254,255,1);
    font-weight: bold;
    color: #777;
    text-shadow: 1px 1px 0px #eee;
    background: rgba(0,0,0,0.1);
    text-indent: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255,255,255,0.4);
}

#index > li:first-child a {
    border-top: 0;
}


#sidebar a.filename:hover {
/*    color: rgba(255,255,255,1);*/
    background: rgba(0,0,0,0.15);
}



/* Sidebar Header
---------------------------------------------------------------------------- */

#sidebar h1 { font-size: 21px; text-align: center;  }
h1 a { line-height: 40px !important; color: #666; }




/* Content
---------------------------------------------------------------------------- */


#banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 301px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.148438);
    background: #f5f5f5;
    z-index: 99;
    
}

#banner h1 {
    color: #666;
    font-size: 21px;
    text-indent: 36px;
    height: 41px;
    line-height: 41px;
}


#content {
    position: absolute;
    top: 0;
    right: 0;
    padding: 58px 36px;
    left: 300px;
}









/* Misc Util Classes
---------------------------------------------------------------------------- */


/* Bootstrap bugfixes
============================================================================ */

/* Issue #3826 */
.search-query {
    padding-left: 12px !important;
    padding-right: 12px !important;
    border-radius: 14px !important;
}


